// bg 
$bg: rgb(0, 0, 0);

// text color
$wtext: white;
$btext: black;
$b-w-gradient: linear-gradient(#eee, #333);
$gtext: rgb(114, 110, 110);


// secondary color
$slbg: rgb(245, 197, 24); // second light bg
$smbg: rgb(194, 155, 19); // second medium bg
$sdbg: rgb(168, 135, 16); // second dark bg


