@import './colors';
@import './utilies.scss';
@import './media-queries.scss';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: $bg;
    color: $wtext;
    @include fontBody;

}

// ------------ NAVBAR ------------------

#nav-container{
    background: $slbg;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    @include tablet{
        flex-direction: row;
    }

    #upper-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        
        a{
            text-decoration: none;
        }

        @include tablet{
            justify-content: flex-start;
            gap: 40px;
        }

        #logo-container{
            @include fontLogo;
            @include flexCenter;
            gap: 2px;
            text-transform: uppercase;
            color: $btext;
            cursor: pointer;
            padding: 5px;

            &:hover{
                border-radius: 5px;
                box-shadow: 2px 2px black;
                background: linear-gradient(to right, $sdbg,$slbg);
            }
    
            #right-logo{
                background-color: $sdbg;
                border-radius: 5px;
                color: $wtext;
                padding: 3px;
            }
        }
    
        #hp-container{
            #hp-logo{
                width: 60px;
                cursor: pointer;

                &:hover{
                    border-radius: 5px;
                    box-shadow: 2px 2px black;
                    background: linear-gradient(to right, $slbg, $sdbg);
                }
            }

        }
    }

    #search-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;

        @include tablet{
            justify-content: flex-end;
        }

        #search-input{
            width: 80%;
            height: 35px;
            border-radius: 5px;
            border: none;
            text-transform: lowercase;
            text-align: center;
            font-size: 22px;
            padding: 5px;

            @include tablet{
                width: 60%;
            }

            @include intermediate{
                width: 40%;
            }

            &:hover{
                border: 4px solid $sdbg;
                cursor: pointer;
            }
        }

        #search-btn{
            font-size: 30px;
            transform:scaleX(-1);
            cursor: pointer;
            text-shadow: 2px 2px black;
            width: 20%;
            @include flexCenter;
            border-radius: 5px;
            background: $smbg;
            padding: 3px;


            &:hover{
                background: $sdbg;

            }

        }
    }
    
}

// ---------- LANGUAGE SECTION ----------------

#language-section{
    .language-container{
        padding: 15px 0 0 0 ;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        @include tablet{
            justify-content: flex-end;
            padding: 10px 35px 0 0;

        }

        .lang-icon{
            width: 50px;
            height: 34px;
            padding: 2px;
            background: $wtext ;
            border-radius: 5px;
            cursor: pointer;

            &:hover{
                opacity: 80%;
            }
        }

        .current-lang{
            opacity: 100%;
        }

        .no-current{
            opacity: 60%;
        }
    }
}

// ----------- ALL MOVIES SECTION STYLE ------------

.section{
    margin-top: 50px;
    @include flexCenter;
    margin-bottom: 50px;

    .section-title{
        font-size: 72px;
        background: linear-gradient($slbg, $sdbg);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
    }

    .section-subtitle{
        font-size: 30px;
        margin: 20px;
        text-align: center;
        animation: color 2s infinite linear;
        background: $b-w-gradient;
        background-clip: text;
        -webkit-text-fill-color: transparent;

        @keyframes color{
            from{
                opacity: 20%;
            }
            to{
                opacity: 100%;
            }
        }
    }

    .loader{
        margin: 35px 0;
        font-size: 50px;
        animation: load 3s infinite linear;
        display: none;

        @keyframes load{
            from{
                transform: rotate(0);
            }
            to{
                transform: rotate(360deg);
            }
        }

    }

    .movies-container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 100vw;
        padding: 0 20px;
        flex-wrap: wrap;
    }

    .single-movie-card{
        background: $slbg;
        width: 250px;
        border-radius: 0 0 15px 15px;
        
        

        .border{
            width: 100%;
            overflow: hidden;
            @include flexCenter;
            flex-direction: column;
            min-height: 551px;
            
            a{
                text-decoration: none;
                color: $btext;
                @include flexCenter;
            }

            .img-div-border{
                height: 375px;
                overflow: hidden;

                .single-card-img{
                    height: 100%;

                    &:hover{
                        transform: scale(1.2);
                        cursor: pointer;
                    }
                }
            }


            .single-card-title{
                @include flexCenter;
                color: $btext;
                font-size: 25px;
                text-align: center;
                min-height: 140px;
                padding: 5px;

            }

            .rating-container{
                display: flex;
                align-items: center;
                color: $btext;
                margin-bottom: 5px;
                font-size: 20px;
            }

            .read-more-btn{
                font-size: 20px;
                @include flexCenter;
                color: $wtext;
                margin-bottom: 10px;

                .bx{
                    font-size: 25px;
                }


                &:hover {
                    color: $sdbg;
                }
            }
        }

    }

    // -------- SEARCH MOVIE SECTION -----------

    #search-movies{
        display: flex;
        flex-direction: column;
        align-items: center;

        #no-result-found-text{
            display: none;
        }
    }
  

    // -------- UPCOMING MOVIES ------------

    #upcoming-movies{

        display: flex;
        flex-direction: column;
        align-items: center;
        
        
    }
}

// ------------ MOVIES DETAILS PAGE STYLE ---------

#movie-details-section{
    margin-top: 50px;
    @include flexCenter;
    flex-direction: column;


    #movie-details-loader{
        font-size: 60px;
        animation: load 2s infinite linear;
        display: none;

        @keyframes load{
            from{
                transform: rotate(0deg)
            }
            to{
                transform: rotate(180deg)
            }
        }
    }

    
    #movie-details-container{


        @include intermediate{
           
            @include flexCenter;
            padding: 0 10%;
            align-items: flex-start
        }
        #left-details-container{
            .border{
                @include flexCenter;

               
                #film-img{
                    width: 70%;
                    border-radius: 15px;

                    @include tablet{
                        width: auto;
                        max-height: 50vh;
                    }

                   
                }
            }
        }

        #right-details-container{
            @include flexCenter;
            flex-direction: column;
            padding: 15px;
            text-align: center;
            gap: 10px;

            @include intermediate{
                text-align: left;
                align-items: flex-start
            }

            #title{
                text-align: center;
                color: $smbg;
                font-size: 70px;
            }

            #duration{
                color: $gtext;
            }

            #genres{
                display: flex;
                gap: 5px;
                align-items: flex-end;
                padding: 5px;
                flex-wrap: wrap;
                text-align: center;
                font-size: 30px;
                border-bottom: 2px solid $gtext;
                width: 100%;


                p{
                    color: $gtext;
                }
            }

            

            #date{
                text-align: center;
                font-size: 20px;
                color: $gtext;
            }

            #production-companies-container{
                display: flex;
                gap: 30px;
                border-top: 2px solid $gtext;
                width: 100%;
                padding: 15px;
                flex-direction: column;

                #single-company-container{
                    display: flex;
                    gap: 30px;
                    flex-wrap: wrap;
                    align-items: flex-end;
                    justify-content: center;

                    .single-company{
                        @include flexCenter;
                        flex-direction: column;         
    
                        .prod-logo{
                            width: 60px;
                            background: white;
                            padding: 5px;
                            border-radius: 5px;
                            
                        }
        
                        .company-name{
                            font-size: 20px;
                            text-align: center;
                        }
                    }
                }
               
            }

            .description-gold{
                color: $smbg;
            }

            #description{
                border-bottom: 2px solid $gtext;
                border-top: 2px solid $gtext;
                padding: 15px;
                font-size: 30px;

            }


            #rating-container{
                @include flexCenter;
                gap: 5px;

                .bx{
                    color: $slbg;

                    &:hover{
                        font-size: 20px;
                        color: $sdbg;
                    }
                }
            }

        }
    }
}

// ---------- FOOTER --------------------
.footer-section{
    width: 100%;
    height: 80px;
    background: $slbg;
    @include flexCenter;

    p{
        font-size: 30px;
        text-align: center;
        color: $btext;
    }
}

// --------- HP PAGE ----------------

// global classes 

.hp-img{
    width: 100vw;

    @include tablet{
        min-height: 100vh;
        width: auto;
        max-width: 100vw;
    }
}



.section-container{
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;

    @include intermediate{
        flex-direction: row;
    }

    .section-sub-container{
        width: 100%;
        @include flexCenter;
        flex-direction: column;
        gap: 50px;

        .section-title{
            font-size: 80px;
            text-align: center;
            background: $b-w-gradient;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            padding: 10px;
            
        }

}
}

#welcome-section{

    animation: appear 5s linear;

    @keyframes appear{
        from{
            opacity: 0%;
        }
        to{
            opacity: 100%;
        }
    }


    .section-container{
 

        .section-sub-container{
            
            

            #entry-arrow{
                text-decoration: none;
                color: $smbg;
                font-size: 30px;
                animation: up-and-down 2s linear infinite;

                @keyframes up-and-down{
                    from{
                        position: relative;
                        opacity: 100%;
                    }
                    to{
                        position: relative;
                        opacity: 20%;
                        bottom: 10px;

                    }
                }


            }

        }

    }   
}

#hogwarts-section{
    background: $gbg;
    .section-container{
        .section-sub-container{
            #houses-container{
                
                display: flex;
                @include flexCenter;
                flex-wrap: wrap;
                max-width: 90vw;
                padding: 5px;

               

                .img-border{
                    max-width: 277px;
                    max-height: 50vh;
                    overflow: hidden;

                    @include tablet{
                        max-width: 256px;
                        max-height: 400px ;
                    }


                    .houses-img{
                        border-radius: 10px;
                        cursor: pointer;
                        transform: scale(1.4);
                        opacity: 40%;
                        position: relative;
                        bottom: 60px;

                        &:hover{
                            opacity: 100%;
                        }
                       
                    }
                }
            }
        }
    }
}

// ---------- GENERAL HOUSE SECTION STYLE -----------

.single-house-section{
    margin-top: 30px;
    min-height: 100vh;
    @include flexCenter;
    .single-house-container{
        @include flexCenter;
        flex-direction: column;
        gap: 30px;

        @include tablet{
            flex-direction: row;
            padding: 30px;
        }
        .single-house-left{
            .border-img{
                width: 300px;
                height: 300px;
                overflow: hidden;
                border-radius: 100%;

               
            }
        }

        .single-house-right{
            @include flexCenter;
            padding: 10px;
            flex-direction: column;

            .house-title{
                font-size: 80px;
                text-shadow: 2px 2px $btext;
            }

            .house-founder{
                color: $gtext;
                font-size: 40px;
            }

            .house-load-info{
                cursor: pointer;
                text-decoration: none;
                font-size: 30px;
                animation: rotate 2s linear infinite;
                display: none;

                @keyframes rotate {
                    from{
                        transform: rotate(0deg);
                    } 
                    to{
                        transform: rotate(360deg);
                    }
                }
            }

            .bx-refresh{
                cursor: pointer;
                text-decoration: none;
                font-size: 50px;
                display: none;
                
                &::after{
                    content: 'refresh';
                }
                


            }

           .house-description{
            padding: 5px;
            font-size: 30px;
            text-align: center;
            color: $btext;
            @include flexCenter;



            @include tablet{
                text-align: left;
            }
           }

           .bx-arrow{
            text-decoration: none;
            font-size: 50px;
            animation: up-arrrow 2s linear infinite;
            

            @keyframes up-arrrow{
                from{   
                    opacity: 20%;
                }

                to{
                    opacity: 100%;
                }
            }
           }

           


        }
    }
}

// ------- GRIFFINDOR SECTION -----------

#griffindor-section{
    background: linear-gradient(rgba(255, 255, 255, 0.836), rgba(197, 5, 5, 0.304)),url(/assets/img/griffindorbg.jpg) no-repeat;
    background-size: cover;
    padding-top: 20px;

    #griffindor-logo{
        position: relative;
        bottom: 70px;
        left: 15px;
        transform: scale(1.3);
    }
    

    #griffindor-title{
        color: $griffindor-color;
        
    }

    #griffindor-founder{
        color: $griffindor-second;
        text-shadow: 2px 2px $btext;

    }

    #griffindor-arrow-up{
        color: $griffindor-second;
       }

    #griffindor-arrow-down{
        color: $griffindor-second;
    }
}

// ------- SLITHERYN SECTION -----------

#slytherin-section{
    background: linear-gradient(rgba(255, 255, 255, 0.785), rgba(2, 67, 34, 0.696)),url(/assets/img/slytherinbg.jpg) no-repeat;
    background-size: cover;
    padding-top: 20px;


    #slytherin-logo{
        position: relative;
        bottom: 70px;
        left: 15px;
        transform: scale(1.3);
    }
    

    #slytherin-title{
        color: $slytherin-color;
    }

    #slytherin-founder{
        color: $slytherin-second;
        text-shadow: 2px 2px $btext;

    }

    #slytherin-arrow-up{
        color: $slytherin-second;
    }

    #slytherin-arrow-down{
        color: $slytherin-second;
    }
}

// ------- HUFFLEPUFF SECTION -----------

#hufflepuff-section{
    background: linear-gradient(rgba(0, 0, 0, 0.712), rgba(248, 246, 246, 0.735)),url(/assets/img/hufflepuffbg.jpg) no-repeat;
    background-size: cover;
    padding-top: 20px;


    #hufflepuff-logo{
        position: relative;
        bottom: 85px;
        left: 15px;
        transform: scale(1.3);
    }
    

    #hufflepuff-title{
        color: $hufflepuff-color;
    }

    #hufflepuff-founder{
        color: $hufflepuff-second;
    }

    #hufflepuff-arrow-up{
        color: $hufflepuff-second;
       }

    #hufflepuff-arrow-down{
        color: $hufflepuff-second;
    }
}

// ------- RAVENCLAW SECTION -----------

#ravenclaw-section{
    background: linear-gradient(rgba(255, 255, 255, 0.906), rgba(5, 38, 110, 0.265)),url(/assets/img/ravenclawbg.jpg) no-repeat;
    background-size: cover;
    padding-top: 20px;


    #ravenclaw-logo{
        position: relative;
        bottom: 90px;
        transform: scale(1.3);
    }
    

    #ravenclaw-title{
        color: $ravenclaw-color;
    }

    #ravenclaw-founder{
        color: $ravenclaw-second;
        text-shadow: 2px 2px $btext;

    }

    #ravenclaw-arrow-up{
        color: $ravenclaw-second;
       }

       #ravenclaw-arrow-down{
        color: $ravenclaw-second;
       }
}

// ------------ CHARACTERS SECTION -------------

#characters-section{
    min-height: 100vh;
    @include flexCenter;
    flex-direction: column-reverse;
    

    @include intermediate{
        flex-direction: row;
    }

    .section-container{

        .border{
          overflow: hidden;

          @include intermediate{
            max-width: 80vw;
          }
        }
        
    }

    .section-sub-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;


        .section-title{
            font-size: 60px;
            background: $b-w-gradient;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: center;
        }

        .bx{
            cursor: pointer;
            font-size: 30px;
            background: $b-w-gradient;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: updown 2s linear infinite;

            @keyframes updown{
                from{
                    position: relative;
                }
                to{
                    position: relative;
                    top: 20px;
                }
            }
        }
    }
}

// ---------- CHARACTERS API SECTION ---------

#characters-results-section{
    padding: 20px;
    min-height: 100vh;
    display: flex;
    max-width: 100vw;

    flex-direction: column;

    #filter-char-container{
        
        @include flexCenter;
        flex-wrap: wrap;
        gap: 20px;
        opacity: 0;

        .filter-btn{
            background: $slbg;
            padding: 5px;
            color: $btext;
            border-radius: 20px;
            min-width: 200px;
            text-align: center;

            &:hover{
                cursor: pointer;
                background-color: $sdbg;
            }
        }

        .current{
            background: $current-filter;
            color: $wtext;
        }
    }

    #character-container{
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-top: 50px;
        flex-wrap: wrap;

        #char-load-icon{
            font-size: 80px;
            animation: loading 2s linear infinite;
            height: 100%;
            display: none;
           

            @keyframes loading{
                from{
                    transform: rotate(0);
                }
                to{
                    transform: rotate(360deg);
                }
            }

        }

        #char-btn{
            font-size: 60px;
            box-shadow: 2px 2px 2px 2px $wtext;
            padding: 10px;
            border-radius: 5px;

            &:hover{
                background: $wtext;
                color: $btext;
                cursor: pointer;
            }
        }

        .single-char-card{
            background: $slbg;
            border-radius: 0 0 15px 15px ;
            max-width: 90vw;
            .border{
                overflow: hidden;
            }

            .char-description{
                @include flexCenter;
                flex-direction: column;
                color: $btext;

                .char-name{
                    font-size: 40px;
                    text-align: center;
                    min-height: 30px;
                    max-width: 230px;
                }

                .char-house{
                    padding: 5px;
                    border-radius: 20px;
                    min-width: 100px;
                    text-align: center;
                    margin-bottom: 10px;
                    font-size: 23px;
                }

                .gryffindor-house{
                    background: $griffindor-color;
                }

                .slytherin-house{
                    background: $slytherin-color;
                    color: $slytherin-second;
                }

                .hufflepuff-house{
                    background: $hufflepuff-color;
                    box-shadow: 2px 2px 2px 2px $btext;
                }

                .ravenclaw-house{
                    background: $ravenclaw-color;
                }

                .children-container{
                    @include flexCenter;
                    flex-direction: column;
                    margin-bottom: 10px;
                    
                    p{
                        font-size: 20px;
                    }
                }
                
            }
        }

    }


 #api-error{
    color: $error;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    font-size: 60px;
    display: none;
 }

 #up-arrow-section{
    text-decoration: none;
    font-size: 50px;
    width: 100%;
    text-align: right;
    color: $wtext;
    margin-top: 60px;
   

    &:hover{
        position: relative;
        top: 20px;
        color: $gtext;
    }
 }

}


// --------- BOOK SECTION --------------------

#book-section{
    #library-arrow{
        text-decoration: none;
        color: $smbg;
        font-size: 25px;

    }
}

// ---------- LIBRARY SECTION --------------------

#library-section{
    margin-top: 50px;
    .section-container{
        min-height: 100vh;
        @include flexCenter;
        flex-direction: column;

        #library-title{
            font-size: 72px;
            background: $b-w-gradient;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: center;
        }

        #book-loader{
            font-size: 25px;
            text-transform: uppercase;
            animation: load 2s linear infinite;
            display: none;

            @keyframes load {
                from{
                    opacity: 40%;
                }
                to{
                    opacity: 100%;
                }
            }
        }

        #library-api-error{
            font-size: 25px;
            color: $error;
            display: none;
        }

        #library-refresh{
            font-size: 25px;
            color: $wtext;
            cursor: pointer;
            display: none;

          
        }

        #library-container{
            @include flexCenter;
            flex-wrap: wrap;
            padding: 10px;


            .single-book{
                opacity: 60%;

                &:hover{
                    opacity: 100%;
                    cursor: pointer;
                }
            }

            .single-book-img{
                height: 150px;

                @include tablet{
                    height: 400px;
                }

                // @include intermediate{
                //     height: 500px;
                // }
            }
        }

        .title-div{
            font-family: "Briem Hand", cursive;
            font-optical-sizing: auto;
            font-weight: weight;
            font-style: normal;
            font-size: 25px;
            text-align: center;

        }

        #single-book-info{
            @include flexCenter;
            // flex-direction: column;
            gap: 35px;
            border-top: 2px solid $gtext;
            padding: 15px;

            #single-book-showed-img{
                height: 250px;
                border-radius: 10px;
            }

           .right-book-info{

            @include flexCenter;
            flex-direction: column;
            #single-book-showed-title{
                font-size: 30px;
                color: $smbg;
                text-align: center;
            }

            #single-book-showed-data{
                color: $gtext;
            }

            #single-book-showed-description{
                text-align: center;
                max-width: 500px;
            }
           }
        }
    }
}

// --------- SPELLS SECTION --------------

#spells-section{
    margin-top: 100px;
    background: $spells-bg;
    
   .section-container{



    img{
        max-height: 959px;
    }

    .section-sub-container{
        padding: 15px;

        .spells-icon{
            font-size: 25px;
            text-transform: uppercase;
            animation: show-hide 2s linear infinite;

            @keyframes show-hide {
                from{
                    opacity: 40%;
                }
                to{
                    opacity: 100%;
                }
            }

        }

        #spells-load{
            display: none;
        }

        #spells-refresh{
            cursor: pointer;
            color: $error;
        }


        #spells-container{
            .single-spell{
                text-align: center;

               

                h3{
                    color: $smbg;
                    font-size: 22px;
                }

                h4{
                    color: $gltext;
                    font-size: 20px;
                }
            }
        }
    }
   }
}

// arrow up section 

#turn-up-section{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    .section-container{
       display: flex;
       justify-content: flex-end;
       padding: 20px;
        

        #up-section-icon{
            text-decoration: none;
            color: $wtext;
            font-size: 50px;
        }
    }

}



