* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#nav-container {
  background: rgb(245, 197, 24);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  #nav-container {
    flex-direction: row;
  }
}
#nav-container #upper-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#nav-container #upper-container a {
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  #nav-container #upper-container {
    justify-content: flex-start;
    gap: 40px;
  }
}
#nav-container #upper-container #logo-container {
  font-family: "Freeman", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  text-transform: uppercase;
  color: black;
  cursor: pointer;
  padding: 5px;
}
#nav-container #upper-container #logo-container:hover {
  border-radius: 5px;
  box-shadow: 2px 2px black;
  background: linear-gradient(to right, rgb(168, 135, 16), rgb(245, 197, 24));
}
#nav-container #upper-container #logo-container #right-logo {
  background-color: rgb(168, 135, 16);
  border-radius: 5px;
  color: white;
  padding: 3px;
}
#nav-container #upper-container #hp-container #hp-logo {
  width: 60px;
  cursor: pointer;
}
#nav-container #upper-container #hp-container #hp-logo:hover {
  border-radius: 5px;
  box-shadow: 2px 2px black;
  background: linear-gradient(to right, rgb(245, 197, 24), rgb(168, 135, 16));
}
#nav-container #search-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
@media screen and (min-width: 768px) {
  #nav-container #search-container {
    justify-content: flex-end;
  }
}
#nav-container #search-container #search-input {
  width: 80%;
  height: 35px;
  border-radius: 5px;
  border: none;
  text-transform: lowercase;
  text-align: center;
  font-size: 22px;
  padding: 5px;
}
@media screen and (min-width: 768px) {
  #nav-container #search-container #search-input {
    width: 60%;
  }
}
@media screen and (min-width: 1226px) {
  #nav-container #search-container #search-input {
    width: 40%;
  }
}
#nav-container #search-container #search-input:hover {
  border: 4px solid rgb(168, 135, 16);
  cursor: pointer;
}
#nav-container #search-container #search-btn {
  font-size: 30px;
  transform: scaleX(-1);
  cursor: pointer;
  text-shadow: 2px 2px black;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: rgb(194, 155, 19);
  padding: 3px;
}
#nav-container #search-container #search-btn:hover {
  background: rgb(168, 135, 16);
}

#language-section .language-container {
  padding: 15px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  #language-section .language-container {
    justify-content: flex-end;
    padding: 10px 35px 0 0;
  }
}
#language-section .language-container .lang-icon {
  width: 50px;
  height: 34px;
  padding: 2px;
  background: white;
  border-radius: 5px;
  cursor: pointer;
}
#language-section .language-container .lang-icon:hover {
  opacity: 80%;
}
#language-section .language-container .current-lang {
  opacity: 100%;
}
#language-section .language-container .no-current {
  opacity: 60%;
}

.section {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.section .section-title {
  font-size: 72px;
  background: linear-gradient(rgb(245, 197, 24), rgb(168, 135, 16));
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.section .section-subtitle {
  font-size: 30px;
  margin: 20px;
  text-align: center;
  animation: color 2s infinite linear;
  background: linear-gradient(#eee, #333);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes color {
  from {
    opacity: 20%;
  }
  to {
    opacity: 100%;
  }
}
.section .loader {
  margin: 35px 0;
  font-size: 50px;
  animation: load 3s infinite linear;
  display: none;
}
@keyframes load {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.section .movies-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100vw;
  padding: 0 20px;
  flex-wrap: wrap;
}
.section .single-movie-card {
  background: rgb(245, 197, 24);
  width: 250px;
  border-radius: 0 0 15px 15px;
}
.section .single-movie-card .border {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 551px;
}
.section .single-movie-card .border a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section .single-movie-card .border .img-div-border {
  height: 375px;
  overflow: hidden;
}
.section .single-movie-card .border .img-div-border .single-card-img {
  height: 100%;
}
.section .single-movie-card .border .img-div-border .single-card-img:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.section .single-movie-card .border .single-card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 25px;
  text-align: center;
  min-height: 140px;
  padding: 5px;
}
.section .single-movie-card .border .rating-container {
  display: flex;
  align-items: center;
  color: black;
  margin-bottom: 5px;
  font-size: 20px;
}
.section .single-movie-card .border .read-more-btn {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 10px;
}
.section .single-movie-card .border .read-more-btn .bx {
  font-size: 25px;
}
.section .single-movie-card .border .read-more-btn:hover {
  color: rgb(168, 135, 16);
}
.section #search-movies {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section #search-movies #no-result-found-text {
  display: none;
}
.section #upcoming-movies {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#movie-details-section {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#movie-details-section #movie-details-loader {
  font-size: 60px;
  animation: load 2s infinite linear;
  display: none;
}
@keyframes load {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@media screen and (min-width: 1226px) {
  #movie-details-section #movie-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    align-items: flex-start;
  }
}
#movie-details-section #movie-details-container #left-details-container .border {
  display: flex;
  justify-content: center;
  align-items: center;
}
#movie-details-section #movie-details-container #left-details-container .border #film-img {
  width: 70%;
  border-radius: 15px;
}
@media screen and (min-width: 768px) {
  #movie-details-section #movie-details-container #left-details-container .border #film-img {
    width: auto;
    max-height: 50vh;
  }
}
#movie-details-section #movie-details-container #right-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  text-align: center;
  gap: 10px;
}
@media screen and (min-width: 1226px) {
  #movie-details-section #movie-details-container #right-details-container {
    text-align: left;
    align-items: flex-start;
  }
}
#movie-details-section #movie-details-container #right-details-container #title {
  text-align: center;
  color: rgb(194, 155, 19);
  font-size: 70px;
}
#movie-details-section #movie-details-container #right-details-container #duration {
  color: rgb(114, 110, 110);
}
#movie-details-section #movie-details-container #right-details-container #genres {
  display: flex;
  gap: 5px;
  align-items: flex-end;
  padding: 5px;
  flex-wrap: wrap;
  text-align: center;
  font-size: 30px;
  border-bottom: 2px solid rgb(114, 110, 110);
  width: 100%;
}
#movie-details-section #movie-details-container #right-details-container #genres p {
  color: rgb(114, 110, 110);
}
#movie-details-section #movie-details-container #right-details-container #date {
  text-align: center;
  font-size: 20px;
  color: rgb(114, 110, 110);
}
#movie-details-section #movie-details-container #right-details-container #production-companies-container {
  display: flex;
  gap: 30px;
  border-top: 2px solid rgb(114, 110, 110);
  width: 100%;
  padding: 15px;
  flex-direction: column;
}
#movie-details-section #movie-details-container #right-details-container #production-companies-container #single-company-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
}
#movie-details-section #movie-details-container #right-details-container #production-companies-container #single-company-container .single-company {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#movie-details-section #movie-details-container #right-details-container #production-companies-container #single-company-container .single-company .prod-logo {
  width: 60px;
  background: white;
  padding: 5px;
  border-radius: 5px;
}
#movie-details-section #movie-details-container #right-details-container #production-companies-container #single-company-container .single-company .company-name {
  font-size: 20px;
  text-align: center;
}
#movie-details-section #movie-details-container #right-details-container .description-gold {
  color: rgb(194, 155, 19);
}
#movie-details-section #movie-details-container #right-details-container #description {
  border-bottom: 2px solid rgb(114, 110, 110);
  border-top: 2px solid rgb(114, 110, 110);
  padding: 15px;
  font-size: 30px;
}
#movie-details-section #movie-details-container #right-details-container #rating-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
#movie-details-section #movie-details-container #right-details-container #rating-container .bx {
  color: rgb(245, 197, 24);
}
#movie-details-section #movie-details-container #right-details-container #rating-container .bx:hover {
  font-size: 20px;
  color: rgb(168, 135, 16);
}

.footer-section {
  width: 100%;
  height: 80px;
  background: rgb(245, 197, 24);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-section p {
  font-size: 30px;
  text-align: center;
  color: black;
}

.hp-img {
  width: 100vw;
}
@media screen and (min-width: 768px) {
  .hp-img {
    min-height: 100vh;
    width: auto;
    max-width: 100vw;
  }
}

.section-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 30px;
}
@media screen and (min-width: 1226px) {
  .section-container {
    flex-direction: row;
  }
}
.section-container .section-sub-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.section-container .section-sub-container .section-title {
  font-size: 80px;
  text-align: center;
  background: linear-gradient(#eee, #333);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px;
}

#welcome-section {
  animation: appear 5s linear;
}
@keyframes appear {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
#welcome-section .section-container .section-sub-container #entry-arrow {
  text-decoration: none;
  color: rgb(194, 155, 19);
  font-size: 30px;
  animation: up-and-down 2s linear infinite;
}
@keyframes up-and-down {
  from {
    position: relative;
    opacity: 100%;
  }
  to {
    position: relative;
    opacity: 20%;
    bottom: 10px;
  }
}

#hogwarts-section {
  background: linear-gradient(rgba(59, 6, 6, 0.6352941176), #000000);
}
#hogwarts-section .section-container .section-sub-container #houses-container {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 90vw;
  padding: 5px;
}
#hogwarts-section .section-container .section-sub-container #houses-container .img-border {
  max-width: 277px;
  max-height: 50vh;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  #hogwarts-section .section-container .section-sub-container #houses-container .img-border {
    max-width: 256px;
    max-height: 400px;
  }
}
#hogwarts-section .section-container .section-sub-container #houses-container .img-border .houses-img {
  border-radius: 10px;
  cursor: pointer;
  transform: scale(1.4);
  opacity: 40%;
  position: relative;
  bottom: 60px;
}
#hogwarts-section .section-container .section-sub-container #houses-container .img-border .houses-img:hover {
  opacity: 100%;
}

.single-house-section {
  margin-top: 30px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-house-section .single-house-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .single-house-section .single-house-container {
    flex-direction: row;
    padding: 30px;
  }
}
.single-house-section .single-house-container .single-house-left .border-img {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 100%;
}
.single-house-section .single-house-container .single-house-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-direction: column;
}
.single-house-section .single-house-container .single-house-right .house-title {
  font-size: 80px;
  text-shadow: 2px 2px black;
}
.single-house-section .single-house-container .single-house-right .house-founder {
  color: rgb(114, 110, 110);
  font-size: 40px;
}
.single-house-section .single-house-container .single-house-right .house-load-info {
  cursor: pointer;
  text-decoration: none;
  font-size: 30px;
  animation: rotate 2s linear infinite;
  display: none;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.single-house-section .single-house-container .single-house-right .bx-refresh {
  cursor: pointer;
  text-decoration: none;
  font-size: 50px;
  display: none;
}
.single-house-section .single-house-container .single-house-right .bx-refresh::after {
  content: "refresh";
}
.single-house-section .single-house-container .single-house-right .house-description {
  padding: 5px;
  font-size: 30px;
  text-align: center;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .single-house-section .single-house-container .single-house-right .house-description {
    text-align: left;
  }
}
.single-house-section .single-house-container .single-house-right .bx-arrow {
  text-decoration: none;
  font-size: 50px;
  animation: up-arrrow 2s linear infinite;
}
@keyframes up-arrrow {
  from {
    opacity: 20%;
  }
  to {
    opacity: 100%;
  }
}

#griffindor-section {
  background: linear-gradient(rgba(255, 255, 255, 0.836), rgba(197, 5, 5, 0.304)), url(/assets/img/griffindorbg.jpg) no-repeat;
  background-size: cover;
  padding-top: 20px;
}
#griffindor-section #griffindor-logo {
  position: relative;
  bottom: 70px;
  left: 15px;
  transform: scale(1.3);
}
#griffindor-section #griffindor-title {
  color: rgb(157, 43, 33);
}
#griffindor-section #griffindor-founder {
  color: rgb(168, 135, 16);
  text-shadow: 2px 2px black;
}
#griffindor-section #griffindor-arrow-up {
  color: rgb(168, 135, 16);
}
#griffindor-section #griffindor-arrow-down {
  color: rgb(168, 135, 16);
}

#slytherin-section {
  background: linear-gradient(rgba(255, 255, 255, 0.785), rgba(2, 67, 34, 0.696)), url(/assets/img/slytherinbg.jpg) no-repeat;
  background-size: cover;
  padding-top: 20px;
}
#slytherin-section #slytherin-logo {
  position: relative;
  bottom: 70px;
  left: 15px;
  transform: scale(1.3);
}
#slytherin-section #slytherin-title {
  color: rgb(3, 72, 53);
}
#slytherin-section #slytherin-founder {
  color: rgb(187, 191, 202);
  text-shadow: 2px 2px black;
}
#slytherin-section #slytherin-arrow-up {
  color: rgb(187, 191, 202);
}
#slytherin-section #slytherin-arrow-down {
  color: rgb(187, 191, 202);
}

#hufflepuff-section {
  background: linear-gradient(rgba(0, 0, 0, 0.712), rgba(248, 246, 246, 0.735)), url(/assets/img/hufflepuffbg.jpg) no-repeat;
  background-size: cover;
  padding-top: 20px;
}
#hufflepuff-section #hufflepuff-logo {
  position: relative;
  bottom: 85px;
  left: 15px;
  transform: scale(1.3);
}
#hufflepuff-section #hufflepuff-title {
  color: rgb(237, 197, 36);
}
#hufflepuff-section #hufflepuff-founder {
  color: rgb(0, 0, 0);
}
#hufflepuff-section #hufflepuff-arrow-up {
  color: rgb(0, 0, 0);
}
#hufflepuff-section #hufflepuff-arrow-down {
  color: rgb(0, 0, 0);
}

#ravenclaw-section {
  background: linear-gradient(rgba(255, 255, 255, 0.906), rgba(5, 38, 110, 0.265)), url(/assets/img/ravenclawbg.jpg) no-repeat;
  background-size: cover;
  padding-top: 20px;
}
#ravenclaw-section #ravenclaw-logo {
  position: relative;
  bottom: 90px;
  transform: scale(1.3);
}
#ravenclaw-section #ravenclaw-title {
  color: rgb(41, 84, 126);
}
#ravenclaw-section #ravenclaw-founder {
  color: rgb(235, 186, 43);
  text-shadow: 2px 2px black;
}
#ravenclaw-section #ravenclaw-arrow-up {
  color: rgb(235, 186, 43);
}
#ravenclaw-section #ravenclaw-arrow-down {
  color: rgb(235, 186, 43);
}

#characters-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}
@media screen and (min-width: 1226px) {
  #characters-section {
    flex-direction: row;
  }
}
#characters-section .section-container .border {
  overflow: hidden;
}
@media screen and (min-width: 1226px) {
  #characters-section .section-container .border {
    max-width: 80vw;
  }
}
#characters-section .section-sub-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#characters-section .section-sub-container .section-title {
  font-size: 60px;
  background: linear-gradient(#eee, #333);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
#characters-section .section-sub-container .bx {
  cursor: pointer;
  font-size: 30px;
  background: linear-gradient(#eee, #333);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: updown 2s linear infinite;
}
@keyframes updown {
  from {
    position: relative;
  }
  to {
    position: relative;
    top: 20px;
  }
}

#characters-results-section {
  padding: 20px;
  min-height: 100vh;
  display: flex;
  max-width: 100vw;
  flex-direction: column;
}
#characters-results-section #filter-char-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  opacity: 0;
}
#characters-results-section #filter-char-container .filter-btn {
  background: rgb(245, 197, 24);
  padding: 5px;
  color: black;
  border-radius: 20px;
  min-width: 200px;
  text-align: center;
}
#characters-results-section #filter-char-container .filter-btn:hover {
  cursor: pointer;
  background-color: rgb(168, 135, 16);
}
#characters-results-section #filter-char-container .current {
  background: rgb(80, 63, 4);
  color: white;
}
#characters-results-section #character-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
  flex-wrap: wrap;
}
#characters-results-section #character-container #char-load-icon {
  font-size: 80px;
  animation: loading 2s linear infinite;
  height: 100%;
  display: none;
}
@keyframes loading {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
#characters-results-section #character-container #char-btn {
  font-size: 60px;
  box-shadow: 2px 2px 2px 2px white;
  padding: 10px;
  border-radius: 5px;
}
#characters-results-section #character-container #char-btn:hover {
  background: white;
  color: black;
  cursor: pointer;
}
#characters-results-section #character-container .single-char-card {
  background: rgb(245, 197, 24);
  border-radius: 0 0 15px 15px;
  max-width: 90vw;
}
#characters-results-section #character-container .single-char-card .border {
  overflow: hidden;
}
#characters-results-section #character-container .single-char-card .char-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
}
#characters-results-section #character-container .single-char-card .char-description .char-name {
  font-size: 40px;
  text-align: center;
  min-height: 30px;
  max-width: 230px;
}
#characters-results-section #character-container .single-char-card .char-description .char-house {
  padding: 5px;
  border-radius: 20px;
  min-width: 100px;
  text-align: center;
  margin-bottom: 10px;
  font-size: 23px;
}
#characters-results-section #character-container .single-char-card .char-description .gryffindor-house {
  background: rgb(157, 43, 33);
}
#characters-results-section #character-container .single-char-card .char-description .slytherin-house {
  background: rgb(3, 72, 53);
  color: rgb(187, 191, 202);
}
#characters-results-section #character-container .single-char-card .char-description .hufflepuff-house {
  background: rgb(237, 197, 36);
  box-shadow: 2px 2px 2px 2px black;
}
#characters-results-section #character-container .single-char-card .char-description .ravenclaw-house {
  background: rgb(41, 84, 126);
}
#characters-results-section #character-container .single-char-card .char-description .children-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}
#characters-results-section #character-container .single-char-card .char-description .children-container p {
  font-size: 20px;
}
#characters-results-section #api-error {
  color: rgb(187, 11, 11);
  width: 100%;
  text-align: center;
  margin-top: 50px;
  font-size: 60px;
  display: none;
}
#characters-results-section #up-arrow-section {
  text-decoration: none;
  font-size: 50px;
  width: 100%;
  text-align: right;
  color: white;
  margin-top: 60px;
}
#characters-results-section #up-arrow-section:hover {
  position: relative;
  top: 20px;
  color: rgb(114, 110, 110);
}

#book-section .section-container #tom-riddle-diary {
  max-width: 55vw;
}
#book-section #library-arrow {
  text-decoration: none;
  color: rgb(194, 155, 19);
  font-size: 25px;
}

#library-section {
  margin-top: 50px;
}
#library-section .section-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#library-section .section-container #library-title {
  font-size: 72px;
  background: linear-gradient(#eee, #333);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
#library-section .section-container #book-loader {
  font-size: 25px;
  text-transform: uppercase;
  animation: load 2s linear infinite;
  display: none;
}
@keyframes load {
  from {
    opacity: 40%;
  }
  to {
    opacity: 100%;
  }
}
#library-section .section-container #library-api-error {
  font-size: 25px;
  color: rgb(187, 11, 11);
  display: none;
}
#library-section .section-container #library-refresh {
  font-size: 25px;
  color: white;
  cursor: pointer;
  display: none;
}
#library-section .section-container #library-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}
#library-section .section-container #library-container .single-book {
  opacity: 60%;
}
#library-section .section-container #library-container .single-book:hover {
  opacity: 100%;
  cursor: pointer;
}
#library-section .section-container #library-container .single-book-img {
  height: 150px;
}
@media screen and (min-width: 768px) {
  #library-section .section-container #library-container .single-book-img {
    height: 400px;
  }
}
#library-section .section-container .title-div {
  font-family: "Briem Hand", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 25px;
  text-align: center;
}
#library-section .section-container #single-book-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  border-top: 2px solid rgb(114, 110, 110);
  padding: 15px;
}
#library-section .section-container #single-book-info #single-book-showed-img {
  height: 250px;
  border-radius: 10px;
}
#library-section .section-container #single-book-info .right-book-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#library-section .section-container #single-book-info .right-book-info #single-book-showed-title {
  font-size: 30px;
  color: rgb(194, 155, 19);
  text-align: center;
}
#library-section .section-container #single-book-info .right-book-info #single-book-showed-data {
  color: rgb(114, 110, 110);
}
#library-section .section-container #single-book-info .right-book-info #single-book-showed-description {
  text-align: center;
  max-width: 500px;
}

#spells-section {
  margin-top: 100px;
  background: linear-gradient(to right, rgb(206, 162, 88), rgb(2, 2, 2));
}
#spells-section .section-container .section-sub-container {
  padding: 15px;
}
#spells-section .section-container .section-sub-container .spells-icon {
  font-size: 25px;
  text-transform: uppercase;
  animation: show-hide 2s linear infinite;
}
@keyframes show-hide {
  from {
    opacity: 40%;
  }
  to {
    opacity: 100%;
  }
}
#spells-section .section-container .section-sub-container #spells-load {
  display: none;
}
#spells-section .section-container .section-sub-container #spells-refresh {
  cursor: pointer;
  color: rgb(187, 11, 11);
}
#spells-section .section-container .section-sub-container #spells-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
@media screen and (min-width: 1226px) {
  #spells-section .section-container .section-sub-container #spells-container {
    justify-content: space-around;
  }
}
#spells-section .section-container .section-sub-container #spells-container .single-spell {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(rgba(59, 6, 6, 0.6352941176), #000000);
  border-radius: 5px;
  min-width: 90vw;
  padding: 5px;
  max-width: 490px;
}
@media screen and (min-width: 768px) {
  #spells-section .section-container .section-sub-container #spells-container .single-spell {
    min-width: 490px;
  }
}
#spells-section .section-container .section-sub-container #spells-container .single-spell h3 {
  color: rgb(194, 155, 19);
  font-size: 22px;
}
#spells-section .section-container .section-sub-container #spells-container .single-spell h4 {
  color: rgb(171, 162, 162);
  font-size: 20px;
}

#turn-up-section {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#turn-up-section .section-container {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
#turn-up-section .section-container #up-section-icon {
  text-decoration: none;
  color: white;
  font-size: 50px;
}/*# sourceMappingURL=style.css.map */