* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#nav-container {
  background: rgb(245, 197, 24);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  #nav-container {
    flex-direction: row;
  }
}
#nav-container #upper-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#nav-container #upper-container a {
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  #nav-container #upper-container {
    justify-content: flex-start;
    gap: 40px;
  }
}
#nav-container #upper-container #logo-container {
  font-family: "Freeman", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  text-transform: uppercase;
  color: black;
  cursor: pointer;
  padding: 5px;
}
#nav-container #upper-container #logo-container:hover {
  border-radius: 5px;
  box-shadow: 2px 2px black;
  background: linear-gradient(to right, rgb(168, 135, 16), rgb(245, 197, 24));
}
#nav-container #upper-container #logo-container #right-logo {
  background-color: rgb(168, 135, 16);
  border-radius: 5px;
  color: white;
  padding: 3px;
}
#nav-container #upper-container #hp-container #hp-logo {
  width: 60px;
  cursor: pointer;
}
#nav-container #upper-container #hp-container #hp-logo:hover {
  border-radius: 5px;
  box-shadow: 2px 2px black;
  background: linear-gradient(to right, rgb(245, 197, 24), rgb(168, 135, 16));
}
#nav-container #search-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
@media screen and (min-width: 768px) {
  #nav-container #search-container {
    justify-content: flex-end;
  }
}
#nav-container #search-container #search-input {
  width: 80%;
  height: 35px;
  border-radius: 5px;
  border: none;
  text-transform: lowercase;
  text-align: center;
  font-size: 22px;
  padding: 5px;
}
@media screen and (min-width: 768px) {
  #nav-container #search-container #search-input {
    width: 60%;
  }
}
@media screen and (min-width: 1226px) {
  #nav-container #search-container #search-input {
    width: 40%;
  }
}
#nav-container #search-container #search-input:hover {
  border: 4px solid rgb(168, 135, 16);
  cursor: pointer;
}
#nav-container #search-container #search-btn {
  font-size: 30px;
  transform: scaleX(-1);
  cursor: pointer;
  text-shadow: 2px 2px black;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: rgb(194, 155, 19);
  padding: 3px;
}
#nav-container #search-container #search-btn:hover {
  background: rgb(168, 135, 16);
}

.section {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.section .section-title {
  font-size: 72px;
  background: linear-gradient(rgb(245, 197, 24), rgb(168, 135, 16));
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.section .section-subtitle {
  font-size: 30px;
  margin: 20px;
  text-align: center;
  animation: color 2s infinite linear;
  background: linear-gradient(#eee, #333);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes color {
  from {
    opacity: 20%;
  }
  to {
    opacity: 100%;
  }
}
.section .loader {
  margin: 35px 0;
  font-size: 50px;
  animation: load 3s infinite linear;
  display: none;
}
@keyframes load {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.section .movies-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100vw;
  padding: 0 20px;
  flex-wrap: wrap;
}
.section .single-movie-card {
  background: rgb(245, 197, 24);
  width: 250px;
  border-radius: 0 0 15px 15px;
}
.section .single-movie-card .border {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 551px;
}
.section .single-movie-card .border a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section .single-movie-card .border .img-div-border {
  height: 375px;
  overflow: hidden;
}
.section .single-movie-card .border .img-div-border .single-card-img {
  height: 100%;
}
.section .single-movie-card .border .img-div-border .single-card-img:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.section .single-movie-card .border .single-card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 25px;
  text-align: center;
  min-height: 140px;
  padding: 5px;
}
.section .single-movie-card .border .rating-container {
  display: flex;
  align-items: center;
  color: black;
  margin-bottom: 5px;
  font-size: 20px;
}
.section .single-movie-card .border .read-more-btn {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 10px;
}
.section .single-movie-card .border .read-more-btn .bx {
  font-size: 25px;
}
.section .single-movie-card .border .read-more-btn:hover {
  color: rgb(168, 135, 16);
}
.section #search-movies {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section #search-movies #no-result-found-text {
  display: none;
}
.section #upcoming-movies {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#movie-details-section {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#movie-details-section #movie-details-loader {
  font-size: 60px;
  animation: load 2s infinite linear;
  display: none;
}
@keyframes load {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@media screen and (min-width: 1226px) {
  #movie-details-section #movie-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    align-items: flex-start;
  }
}
#movie-details-section #movie-details-container #left-details-container .border {
  display: flex;
  justify-content: center;
  align-items: center;
}
#movie-details-section #movie-details-container #left-details-container .border #film-img {
  width: 70%;
  border-radius: 15px;
}
@media screen and (min-width: 768px) {
  #movie-details-section #movie-details-container #left-details-container .border #film-img {
    width: auto;
    max-height: 50vh;
  }
}
#movie-details-section #movie-details-container #right-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  text-align: center;
  gap: 10px;
}
@media screen and (min-width: 1226px) {
  #movie-details-section #movie-details-container #right-details-container {
    text-align: left;
    align-items: flex-start;
  }
}
#movie-details-section #movie-details-container #right-details-container #title {
  text-align: center;
  color: rgb(194, 155, 19);
  font-size: 70px;
}
#movie-details-section #movie-details-container #right-details-container #duration {
  color: rgb(114, 110, 110);
}
#movie-details-section #movie-details-container #right-details-container #genres {
  display: flex;
  gap: 5px;
  align-items: flex-end;
  padding: 5px;
  flex-wrap: wrap;
  text-align: center;
  font-size: 30px;
  border-bottom: 2px solid rgb(114, 110, 110);
  width: 100%;
}
#movie-details-section #movie-details-container #right-details-container #genres p {
  color: rgb(114, 110, 110);
}
#movie-details-section #movie-details-container #right-details-container #date {
  text-align: center;
  font-size: 20px;
  color: rgb(114, 110, 110);
}
#movie-details-section #movie-details-container #right-details-container #production-companies-container {
  display: flex;
  gap: 30px;
  border-top: 2px solid rgb(114, 110, 110);
  width: 100%;
  padding: 15px;
  flex-direction: column;
}
#movie-details-section #movie-details-container #right-details-container #production-companies-container #single-company-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
}
#movie-details-section #movie-details-container #right-details-container #production-companies-container #single-company-container .single-company {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#movie-details-section #movie-details-container #right-details-container #production-companies-container #single-company-container .single-company .prod-logo {
  width: 60px;
  background: white;
  padding: 5px;
  border-radius: 5px;
}
#movie-details-section #movie-details-container #right-details-container #production-companies-container #single-company-container .single-company .company-name {
  font-size: 20px;
  text-align: center;
}
#movie-details-section #movie-details-container #right-details-container .description-gold {
  color: rgb(194, 155, 19);
}
#movie-details-section #movie-details-container #right-details-container #description {
  border-bottom: 2px solid rgb(114, 110, 110);
  border-top: 2px solid rgb(114, 110, 110);
  padding: 15px;
  font-size: 30px;
}
#movie-details-section #movie-details-container #right-details-container #rating-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
#movie-details-section #movie-details-container #right-details-container #rating-container .bx {
  color: rgb(245, 197, 24);
}
#movie-details-section #movie-details-container #right-details-container #rating-container .bx:hover {
  font-size: 20px;
  color: rgb(168, 135, 16);
}/*# sourceMappingURL=style.css.map */